html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Krub', sans-serif;
}

:root{
  --yellow:#fec326;
  --red:#af1836;
}
/* วิธีใช้ตัวแปร  var(--red) */

#header {
  background-color: #af1836;
  width: 100%;
  height: 15vh;
  text-align: center;
  position: relative;
  left: 0px;
}

img {
  width: auto;
  height: auto;
}

.text {
  color: white;
  display: inline-block;
  font-family: 'Krub', sans-serif;
  font-size: 17px;
  vertical-align: middle;
/*   border: 1px;
  border-bottom-style: solid; */
  padding: 5% 3% 0%;
  transition: 0.4s;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

/* เมนูนาฟบา */
a.text{
  text-decoration:none;
  color: white;
  border: 1px;
  border-bottom-style: solid;
}

.forgot{
  color:#f6b415;
  transition: 0.3s;
  
}

.forgot b:hover{
  color:#E6c66d;
  transition: 0.3s;
  text-decoration:none;
}

a.text:hover {
  color: #fec326;
  font-size: 18px;
  border: 4px;
  border-bottom-style: solid;
/*   transition: 0.4s; */
  text-decoration: none;
  transform: scale(1.2);
  transition: 0.3s;
}

/* .text:hover {
  color: #fec326;
  font-size: 18px;
  border: 4px;
  border-bottom-style: solid; */
/*   transition: 0.4s; */
/*   transform: scale(1.2);
  transition: 0.3s;
}  */

.text:active{
    border-bottom-style: solid;
  transform: scale(1.2);
}
.text a:active{
  border-bottom-style: solid;
  transform: scale(1.2);
}

/* เมนูนาฟบา */
.symbols {
  height: 85px;
  width: 100%;
  background-color: #af1836;
  position: fixed;
  top: 0%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
}

/*ล้อคอิน*/
.button-solid {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  
}

.button-close{
  border: none;
  padding: 0px;
  background-color:white;
}

.button-close:focus{
  border: none;
    outline: none;
}

.modal-content{
  border-radius: 10px;
  height: 280px;
  width: 700px;
}

.title_stone{
  font-weight: 1000;
    font-size: 25px;
    margin: 0px 0px 20px;
    margin-left: 0px;
    background-color: white;
    border-left: 12px solid #fec326;
    border-radius: 10px 0px 0px 10px;
}

#content2{
  border-radius: 10px;
  height: 500px;
  width: 550px;
}
.modal-header{
  border: none;
  overflow: hidden;
  
}
.forgot{
  color: #fec326;
  border: none;
  padding: 0px;
  background-color:white;
}
.forgot:hover{
  color: yellow;
}
.forgot:focus{
   border: none;
  outline: none;
}
.button-solid:focus {
    border: none;
    outline: none;
}
/* ล้อคอิน*/

/* สมัคร */
#content3{
  border-radius: 10px;
  height: 320px;
  width: 550px;
}
#content4{
  border-radius: 10px;
  height: 600px;
  width: 570px;
}
/* สมัคร */

.mouse {
  height: 85px;
  width: 100%;
  background-color: var(--red);
  top: 0%;
  z-index: -1;
}

.symbols-right-center{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
      
.symbols-left {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: white;
  box-shadow: -5px 6px 22px -9px black;
  border-radius: 0px 0px 0px 10px;
}

/* รูปบ้าน กับ คน */
.symbols-right {
  position: relative;
  width: 15%;
  height: 100%;
  background-color: #af1836;
  box-shadow: 4px 6px 22px -9px black;
  border-radius: 0px 0px 10px 0px;
}

/* footer */
.footer_area {
    background-color: #2c2c2c;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-align: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}

.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}

.single-footer-widget .copywrite-text a {
    color: whitesmoke;
    font-size: 1rem;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
  color: #fbc10d;
  transition: 0.5s;
  text-decoration: none;
}

.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
  color: grey;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #fbc10d;
  transition: 0.5s;
  text-decoration: none;
}

/* .single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
} */

.footer_social_area {
    position: relative;
    z-index: 1;
}

.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #b90017;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
  color: whitesmoke;
}

.footer_social_area a i {
    line-height: 36px;
}

h5, h6{
  color: white;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
    color:#fbc10d;
  transition: 0.5s;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
#footer {
/*   position: fixed;
  bottom: 0; */
  width: 100%;
  height: 45%;            /* Footer height */
}

/* footer */


/* รถเข็น */
.contactContainer {
    width: 150px;
    position: absolute;
    top: 3%;
    left: 72%;

}

.insideContainer {
    width: 200px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
    /* background-color: red; */
}

.wrappp {
/*     background-color: rgb(255, 255, 255); */
    padding: 10px 15px;
    width: 50px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 4px 6px 22px -9px black;
    cursor: pointer;
  position: absolute;
  right: 30px;
}
.wrapp {
/*     background-color: rgb(255, 255, 255); */
    padding: 11px 17px;
    width: 50px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 4px 6px 22px -9px black;
    cursor: pointer;
  position: absolute;
  right: 90px;
  text-decoration: none;
}
.insideContainer p{
    font-size: 20px;
    color: rgb(205, 66, 80);
}

.insideContainer a{
    font-size: 20px;
}

.insideContainer a:hover{
    color: rgb(216, 70, 70);
}

.wrappp:hover{
    transform: scale(1.055);
  text-decoration: none;
}
.wrapp:hover{
    transform: scale(1.055);
    text-decoration: none;
}


.card {
  position: relative;
}

.title_stone{
  font-weight: 1000;
  font-size: 200%;
  margin: 40px 0px;
  margin-left: 10px;
  background-color: white;
  border-left: 12px solid #fec326;
  border-radius: 10px 0px 0px 10px;
  /*  top-left corner,top-right corner, bottom-right corner,bottom-left corner */
}

.container{
  position: relative;
  
}

.card:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}

.container .card{
  margin-bottom: 20px;
  width: 100%;
  background-color: whitesmoke;
 
}

.container .card .imgBx{
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.container .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.container .card .imgBx:hover img{
  transform: scale(1.5);
}

.container .card .content .productName{
  font-size: 18px;
  margin-bottom: 48px;
  margin-top: -5px;
  margin-left: 10px;
}

.container .card .type{
  display: flex;
  margin-top: 8px;
  

}



.container .card .type .each {
  margin-left: 10px;
  padding: 4px;
  
  border-radius: 4px 4px 4px 4px;
  font-size: 13px;
  color: white;
}

.container .card .content .price_cart_like{
  display: flex;
  justify-content: space-around;
 
  
}


.container .card .content .price{
 
  bottom: 8px;
  left: 10px;
position: absolute;
  font-size: 18px;
  font-weight: bold;

  
  
}



.fa-plus{
  font-size: 26px;
  right: 0;
  bottom: 0;
  padding: 8px;
  color: whitesmoke;
  width: 40px;
  text-align: center;
  border-radius: 4px 0px 4px 0px;
  position: absolute;
  background-color: #5d5c5c;
}


.fa-plus:hover{
  transition: 0.5s;
  color: white;
  background-color: #A63F03;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

/* รถเข็นนนน */


/* รถเข็นนนน */

.title_stone3 {
  padding-left: 5px;
  background-color: white;
  border-left: 12px solid #fec326;
  border-radius: 10px 0px 0px 10px;
}


#prodetail {
  display: flex;
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 3%;
}

.single-img {
  width: 30%;
  margin-bottom: 20px;

}

#MainImg {
  width: 100%;
  margin-bottom: 2px;
}

.choice-group {
  display: flex;
  justify-content: space-between;
}

.choice {
  width: 100%;
  height: 100%;
}

.choice-col2 {
  flex-basis: 49.8%;
  cursor: pointer;
} 
.choice-col {
  flex-basis: 33%;
  cursor: pointer;
}

.sigle-detail {
  width: 50%;
  margin-left: 5%;
}

.sigle-detail p {
  font-size: 25px;
  margin: 5px;
}

.sigle-detail .detail_color p {
  font-size: 20px;
  padding: 18px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.sigle-detail h4 {
  padding-top: 30px;
}

.detail_font {
  margin-top: 50px;
  font-size: 22px;
}

.sigle-detail select {
  height: 40px;
  width: 90px;
  font-size: 18px;
  padding: 2px;
  margin-bottom: 5px;
  margin-right: 3px;
  border-radius: 3px;
}

.sigle-detail input {
  width: 60px;
  height: 40px;
  padding-left: 18px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 3px;

}

.add_button {
  display: block;
  border: none;
  width: 100px;
  height: 35px;
  font-size: 16px;
  color: black;
  background: whitesmoke;
  border-radius: 3px;
  top: 10px;
  position: relative;
}

.add_button:hover{
  background-color: #af1836;
  color: white;
  transition: 0.2s;
}
